header
	input(type='checkbox', id='toggle')
	label(for='toggle', id='toggle-btn')
	.nav-icon
	nav(data-state='close')
		ul
			li
				a(href='#') Home
			li
				a(href='#') About
			li
				a(href='#') Services
			li
				a(href='#') Contact